<main role="main" class="container">
    <h1 class="mt-5 text-center mb-4">My Website</h1>
    <div class="card shadow">
        <div class="card-body">
            <table class="table table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < subscribers.length; i++) { %>
                        <tr>
                            <td><%= subscribers[i].name %></td>
                            <td><%= subscribers[i].email %></td>
                        </tr>
                    <% } %>
                </tbody>
                <tfoot class="table-light">
                    <tr>
                        <td colspan="2" class="fw-bold text-end">
                            Total: <%= subscribers.length %>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</main>