<main role="main" class="container">
    <h1>Subscribe to my website</h1>
    <div>
        <form action="/subscribe" method="post">
            <div class="mb-3 d-flex flex-column">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" name="name" placeholder="Name">
            </div>
            <div class="mb-3 d-flex flex-column">
                <label for="email" class="form-label">Email</label>
                <input type="text" id="email" name="email" placeholder="Email">
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</main>